# Directories
.vs/
Binaries/

./Frontend/MusicLibrary
./Frontend/SongDirectory.json

*.webm
*.wav
*.webp
*.ps1
*.jpg


# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile

# Exclude
!Vendor/Binaries
Frontend/SongDirectory.json
